<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyBlog</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.7.2.js"></script>

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="../../Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <link href="../../Content/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />
    <link href="../../Content/themes/base/jquery.ui.all.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse  navbar-static-top">
        <div class="container">
            <div class="navbar-inner">
                @Html.ActionLink("MyBlog", "Index", "Home", null, new { @class = "navbar-brand" })

                <div class="navbar-brand">
                    @Html.Action("UserInfo", "Account")
                </div>

                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                  @Html.Action("UserNavBar", "Account", new { username = User.Identity.Name })
                }
                else
                {
                   <ul class="nav nav-tabs pull-right">
                    <li>@Html.ActionLink("Вход", "Login", "Account")</li>
                    <li>@Html.ActionLink("Регистрация", "CreateAccount", "Account")</li>
                  </ul>  
                }
             
            </div>           
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.4.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        @RenderSection("scripts", required: false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MyBlog</p>
        </footer>
    </div>

</body>
</html>