@model EpamTask.MyBlog.WebInterface.Models.BlogUserModel

@{
    ViewBag.Title = "UserInfo";
}

<h2>Профиль</h2>

@if (Model.HasAvatar)
{
    <div class="row-fluid show-grid">
        <div class="span1">
            @*<img src="@Url.Action("Index", "Home")" class="img-details" />*@
            <img src="/User/ShowAvatar?id=@Model.ID" class="img-details" />
        </div>

        <div class="span1"></div>
        <div class="span2"></div>
        <div class="span4"></div>
        <div class="span4"></div>

    </div>
    @*@Html.Action("ShowAvatar", new { id=Model.ID})*@
}

<div class="container-fluid">
    @Html.HiddenFor(model => model.HasAvatar)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.BlogUserEpigraph)
    @Html.HiddenFor(model => model.BlogUserPassword)
    <div class="container-fluid">
        <div class="col-xs-2">
           @Html.DisplayNameFor(model => model.BlogUserLogin)
        </div>
            
        <div class="col-xs-9">
            @Html.DisplayFor(model => model.BlogUserLogin)
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-xs-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </div>

        <div class="col-xs-9">
            @Html.DisplayFor(model => model.BirthDate)
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-xs-2">
            @Html.DisplayNameFor(model => model.Gender)
        </div>

        <div class="col-xs-9">
            @if (Model.Gender)
            {
                @Html.Label("мужской")
            }
            else
            {
                @Html.Label("женский")
            }
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-xs-2">
            @Html.DisplayNameFor(model => model.RegistrationTime)
        </div>

        <div class="col-xs-9">
            @Html.DisplayFor(model => model.RegistrationTime)
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-xs-2">
            @Html.DisplayNameFor(model => model.Email)
        </div>

        <div class="col-xs-9">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>

    @if (!String.IsNullOrWhiteSpace(Model.Skype))
    {
        <div class="container-fluid">
            <div class="col-xs-2">
                @Html.DisplayNameFor(model => model.Skype)
            </div>

            <div class="col-xs-9">
                @Html.DisplayFor(model => model.Skype)
            </div>
        </div>
    }
    
    @if (!String.IsNullOrWhiteSpace(Model.About))
    {
        <div class="container-fluid">
            <div class="col-xs-2">
                @Html.DisplayNameFor(model => model.About)
            </div>

            <div class="col-xs-10">
                @Html.DisplayFormattedData(Model.About)
            </div>
        </div>
    }
    
   @if (User.Identity.Name == BlogUserModel.GetUser(Model.ID).BlogUserLogin)
    {
        <div class="container-fluid">
            <div class="col-xs-8">
                @Html.ActionLink("Редактировать данные", "EditProfile", new { id = Model.ID })
            </div>
        </div>
    }
</div>

    @*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlogUserLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>

        <tr>
            @Html.HiddenFor(model => model.HasAvatar)
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.BlogUserEpigraph)
            @Html.HiddenFor(model => model.BlogUserPassword)

            <td>
                @Html.DisplayFor(model => model.BlogUserLogin)
            </td>
            <td>
                @Html.DisplayFor(model => model.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.RegistrationTime)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.Skype)
            </td>
            <td>
                @Html.DisplayFor(model => model.About)
            </td>
            <td>
                @if (Model.Gender)
                {
                    @Html.Label("мужской")
                }
                else
                {
                    @Html.Label("женский")
                }

            </td>

            @if (User.Identity.Name == BlogUserModel.GetUser(Model.ID).BlogUserLogin)
            {
                <td>
                    @Html.ActionLink("Редактировать данные", "EditProfile", new { id = Model.ID })
                </td>
            }
        </tr>
    </table>*@
