@model EpamTask.MyBlog.WebInterface.Models.BlogUserModel

@{
    ViewBag.Title = "UserInfo";
}

<h2>Профиль</h2>

@if (Model.HasAvatar)
{
    <div class="row-fluid show-grid">
        <div class="span1">
            @*<img src="@Url.Action("Index", "Home")" class="img-details" />*@
            <img src="/User/ShowAvatar?id=@Model.ID" class="img-details" />
        </div>

        <div class="span1"></div>
        <div class="span2"></div>
        <div class="span4"></div>
        <div class="span4"></div>

    </div>
    @*@Html.Action("ShowAvatar", new { id=Model.ID})*@
}



<table class="table">
    <tr>
        @*<th>
            @Html.H(model => model.HasAvatar)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.BlogUserLogin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.About)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

    <tr>
            @Html.HiddenFor(model => model.HasAvatar)
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.BlogUserEpigraph)
            @Html.HiddenFor(model => model.BlogUserPassword)

        <td>
            @Html.DisplayFor(model => model.BlogUserLogin)
        </td>
        <td>
            @Html.DisplayFor(model => model.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.RegistrationTime)
        </td>
        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
        <td>
            @Html.DisplayFor(model => model.Skype)
        </td>
        <td>
            @Html.DisplayFor(model => model.About)
        </td>
        <td>
            @if (Model.Gender)
            {
                 @Html.Label("male")
            }
            else
            {
                 @Html.Label("female")
            }
            
            @*@Html.DisplayFor(modelItem => item.Gender)*@
        </td>
        <td>
            @Html.ActionLink("Редактировать данные", "EditProfile", new { id = Model.ID }) 
        </td>
    </tr>
</table>
