@model EpamTask.MyBlog.WebInterface.Models.BlogUserModel

@{
    ViewBag.Title = "UserInfo";
}

<h2>Профиль</h2>

@if (Model.HasAvatar)
{
    <div class="row-fluid show-grid">
        <div class="span1">           
            <img src="/User/ShowAvatar?id=@Model.ID" class="img-details" />
        </div>

        <div class="span1"></div>
        <div class="span2"></div>
        <div class="span4"></div>
        <div class="span4"></div>

    </div>   
}
else
{
    <div class="row-fluid show-grid">
        <div class="span1">
            <img src="/Content/DefaultUserAvatar.jpg" class="img-details" />
        </div>

        <div class="span1"></div>
        <div class="span2"></div>
        <div class="span4"></div>
        <div class="span4"></div>

    </div>   
}


<div class="container-fluid">
    @Html.HiddenFor(model => model.HasAvatar)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.BlogUserEpigraph)
    @Html.HiddenFor(model => model.BlogUserPassword)
    <div class="container-fluid">
        <div class="col-xs-2">
           @Html.DisplayNameFor(model => model.BlogUserLogin)
        </div>
            
        <div class="col-xs-9">
            @Html.DisplayFor(model => model.BlogUserLogin)
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-xs-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </div>

        <div class="col-xs-9">
            @Html.DisplayFor(model => model.BirthDate)
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-xs-2">
            @Html.DisplayNameFor(model => model.Gender)
        </div>

        <div class="col-xs-9">
            @if (Model.Gender)
            {
                <div>
                    мужской
                </div>
            }
            else
            {
                <div>
                    женский
                </div>
            }
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-xs-2">
            @Html.DisplayNameFor(model => model.RegistrationTime)
        </div>

        <div class="col-xs-9">
            @Html.DisplayFor(model => model.RegistrationTime)
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-xs-2">
            @Html.DisplayNameFor(model => model.Email)
        </div>

        <div class="col-xs-9">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>

    @if (!String.IsNullOrWhiteSpace(Model.Skype))
    {
        <div class="container-fluid">
            <div class="col-xs-2">
                @Html.DisplayNameFor(model => model.Skype)
            </div>

            <div class="col-xs-9">
                @Html.DisplayFor(model => model.Skype)
            </div>
        </div>
    }
    
    @if (!String.IsNullOrWhiteSpace(Model.About))
    {
        <div class="container-fluid">
            <div class="col-xs-2">
                @Html.DisplayNameFor(model => model.About)
            </div>

            <div class="col-xs-10">
                @Html.DisplayFormattedData(Model.About)
            </div>
        </div>
    }
    
   @if (User.Identity.Name == BlogUserModel.GetUser(Model.ID).BlogUserLogin)
    {
        <div class="container-fluid">
            <div class="col-xs-8">
                @Html.ActionLink("Редактировать данные", "EditProfile", new { userID = Model.ID })
            </div>
        </div>
    }
</div>    
