@model EpamTask.MyBlog.WebInterface.Models.CommentModel

@using (Html.BeginForm("AddComment", "Blog", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.CommentID)

        @Html.HiddenFor(model => model.AuthorID)

        @Html.HiddenFor(model => model.PostID)

        <div class="form-group">
            @Html.LabelFor(model => model.CommentText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.CommentText)
                @Html.ValidationMessageFor(model => model.CommentText)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <input type="submit" value="Добавить комментарий" class="btn btn-default" />
            </div>
        </div>
    </div>
}
