@model IEnumerable<EpamTask.MyBlog.WebInterface.Models.BlogPostModel>

@if (Model.Count()==0)
{
    @:В блоге пока нет записей
}
else
{
    <table class="table">
        <tr>            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="container-fluid">
                        @Html.HiddenFor(modelItem => item.PostID)
                        @Html.HiddenFor(modelItem => item.Privacy)
                        @Html.HiddenFor(modelItem => item.AuthorID)                        

                        <div class="container-fluid">

                            <div class="col-xs-9">
                                <h4>
                                    @Html.DisplayFor(modelItem => item.PostTitle)
                                </h4>                   
                            </div>
                        </div>

                        <div class="container-fluid">
                            <div class="col-xs-9 pull-left">
                                @Html.DisplayFormattedData(item.PostContent)
                            </div>
                        </div>

                        <div class="container-fluid">
                             <div class="col-xs-9">
                                @Html.DisplayFor(modelItem => item.PostCreationTime)
                            </div>
                        </div>

                    </div>
                </td>

                @if (User.Identity.Name == BlogUserModel.GetUser(item.AuthorID).BlogUserLogin)
                {
                     <td>
                        @Html.ActionLink("Комментарии", "PostAndComments", new {  id=item.PostID  }) |
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.PostID }) |
                        @Html.ActionLink("Удалить", "Delete", new { id = item.PostID })
                    </td>
                }
                else
                {
                     <td>
                         @Html.ActionLink("Комментарии", "PostAndComments", new { id = item.PostID }) 
                    </td>
                }
                
            </tr>
        }

    </table>
}
