@model System.Guid

@{
    ViewBag.Title = "Index";
    var epigraph = BlogUserModel.GetUser(Model).BlogUserEpigraph;
}

@if (User.Identity.Name == BlogUserModel.GetUser(Model).BlogUserLogin)
{
     <h2>Мой блог</h2>
}
else
{
    <h2>@BlogUserModel.GetUser(Model).BlogUserLogin</h2>   
}

<div class="container-fluid">
    <div class="col-xs-3">
       
           @Html.Action("ShowAvatarOrDefault", "User", new { id=Model})
           @Html.ActionLink("О пользователе", "UserInfo", "User", new { userID = Model }, null)
           @Html.Action("UserTags", "Blog", new { userID = Model })

    </div>
    <div class="col-xs-9">
        @if (!String.IsNullOrWhiteSpace(epigraph))
        { 
          <h4>@epigraph</h4>  
        }
        
         
    @Html.Action("GetUserPosts", "Blog", new { userID = Model })
    </div>
</div>